{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ini home</title>
    {% tailwind_css %}
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      <div class="bg-blue-500 p-3">
        <h1 class="text-white text-center">Network Automation</h1>
      </div>
      <div
        class="border max-h-screen w-[410px] self-center rounded-lg mt-3 drop-shadow-md flex flex-col p-4"
      >
        <h1 class="self-center">Konfigurasi anda gagal !</h1>
        <a
          href="/"
          class="bg-red-600 p-2 text-white rounded-full text-center mt-3"
          >Back</a
        >
      </div>
    </div>
  </body>
</html>
