{% extends 'general_template.html' %} {% block title %}Home{% endblock %}
{%block content%}
<div class="flex flex-col min-h-screen">
  <div class="bg-blue-500 p-3">
    <h1 class="text-white text-center">Network Automation</h1>
  </div>
  <div
    class="border max-h-max w-[410px] self-center rounded-lg mt-3 drop-shadow-md flex flex-col p-4 mb-2"
  >
    {% load crispy_forms_tags %}
    <form class="flex flex-col" method="POST">
      {% csrf_token %} {{ form|crispy }}
      <button
        type="submit"
        class="rounded-full bg-blue-500 p-2 text-white mt-3"
      >
        start
      </button>
    </form>
  </div>
</div>
{%endblock%}
